
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark bg-unique">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" [routerLink]="'/'">Mr. Provider</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="'home'" >Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="'bikes'">Bikes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="'contact-us'">Contact Us</a>
      </li>


    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
