
<!--Footer-->
<footer class="page-footer bg-unique center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title">Mr. Provider </h5>
        <hr>
        <p>We give you wheels!</p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-4">
        <h5 class="title">Contact us</h5>
        <hr>
        <p>You can either <span style="font-size: 20px"><i class="fa fa-phone" aria-hidden="true"></i></span> call or drop <span style="font-size: 20px;"><i class="fa fa-whatsapp" aria-hidden="true"></i></span> whatsapp text on the number below</p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i> +917838858588</p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> care@ikerz.com</p>
        <p><i class="fa fa-suitcase" aria-hidden="true"></i> Jobs@ikerZ</p>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-md-3">
        <h5>Recent Posts</h5>
        <hr>
        <p>Affordable places to visit for broke college students</p>
        <p>Affordable places to visit for broke college students</p>
        <p>Affordable places to visit for broke college students</p>
      </div>
      <!--/.Third column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Social buttons-->
  <div class="text-center mb-3" style="font-size: 18px;">

    <a class="btn-lg btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
    <a class="btn-lg btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
    <a class="btn-lg btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
    <a class="btn-lg btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
    <a class="btn-lg btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
    <a class="btn-lg btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
    <a class="btn-lg btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a> Mr. Provider </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
