<br>
<div class="container-fluid">
  <div class="row">

    <!--Bike 1-->
    <div class="col-md-4">

      <!--Card-->
      <div class="card card-cascade narrower">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="../../assets/images/bike1.png" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-body">
          <h4 class="pink-text">KTM Duke 690</h4>
          <!--Title-->
          <h5 class="card-title">INR 1200/day</h5>
          <!--Text-->
          <p class="card-text">
            <strong>Max speed:</strong> 134 km/h <br>
            <strong>Model:</strong> 2016 <br>
            <strong>Engine start:</strong> Electric <br>
            <strong>Fuel capacity:</strong> 12 Liters <br>
            <strong>Riding limit:</strong> 250 Km/day
          </p>
          <a class="btn btn-unique waves-light" mdbRippleRadius>Book now!</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->

    </div>

    <!--Bike 2-->
    <div class="col-md-4">

      <!--Card-->
      <div class="card card-cascade narrower">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="../../assets/images/bike1.png" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-body">
          <h4 class="pink-text">KTM Duke 690</h4>
          <!--Title-->
          <h5 class="card-title">INR 1200/day</h5>
          <!--Text-->
          <p class="card-text">
            <strong>Max speed:</strong> 134 km/h <br>
            <strong>Model:</strong> 2016 <br>
            <strong>Engine start:</strong> Electric <br>
            <strong>Fuel capacity:</strong> 12 Liters <br>
            <strong>Riding limit:</strong> 250 Km/day
          </p>
          <a class="btn btn-unique waves-light" mdbRippleRadius>Book now!</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->

    </div>

  </div>
</div>
