<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->


<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation text-center my-4" id="dada" [type]="'carousel-multi-item'" [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
    <div class="col-md-4" style="margin: 15px 0;">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Delhi</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Gurugram</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Chandigarh</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <div class="col-md-4">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <div class="col-md-4">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
      </div>
    </div>
  </mdb-slide>
  <!--/Third slide-->
  <br>
</mdb-carousel>
<!--/.Carousel Wrapper-->


<!--Descriptive tips-->
<div class="container-fluid">
    <br>
       <h3 class="text-center" style="width: 100%;margin-top: 20px;">WE ENSURE:</h3>
    <br>

    <div class="row" style="box-shadow: 0 1px 8px rgba(0,0,0,0.2); padding-top: 20px;">
      <div class="col-sm-3">
        <div class="text-center tick">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <br>
        <p class="text-center">BEST PRICE & QUALITY RATIO</p>
        <p class="text-center text-danger" style="font-size: 40px"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></p>

      </div>

      <div class="col-sm-3">
        <div class="text-center tick">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <br>
        <p class="text-center">MODERN & MAINTAINED FLEET</p>
        <p class="text-center text-danger" style="font-size: 40px"><i class="fa fa-cogs" aria-hidden="true"></i></p>

      </div>

      <div class="col-sm-3">
        <div class="text-center tick">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <br>
        <p class="text-center">TRUSTWORTHY CUSTOMER SUPPORT</p>
        <p class="text-center text-danger" style="font-size: 40px"><i class="fa fa-smile-o" aria-hidden="true"></i></p>

      </div>

      <div class="col-sm-3">
        <div class="text-center tick">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <br>
        <p class="text-center">HASSLE-FREE RENTING PROCESS</p>
        <p class="text-center text-danger" style="font-size: 40px"><i class="fa fa-handshake-o" aria-hidden="true"></i></p>

      </div>
    </div>
    <br>

</div>
<!--/Descriptive tips-->

<!--Reviews-->
<div class="container" style="margin-top: 10px">
  <h3>Reviews</h3>
  <hr>
  <!--First review-->
  <div class="media mb-1">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h4 class="media-heading">John Doe</h4>
      <ul class="rating inline-ul">
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
    </div>
  </div>

  <!--Second review-->
  <div class="media mb-1">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Anna Casie</h4>
      <ul class="rating inline-ul">
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
    </div>
  </div>

  <!--Second review-->
  <div class="media mb-1">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Dave Snow</h4>
      <ul class="rating inline-ul">
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star amber-text"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
    </div>
  </div>

</div>
<!--/Reviews-->
